---
import Layout from '@layouts/Base.astro';
import { getCollection } from 'astro:content';
import Publications from '@components/Publications';
import { defaultDescription } from '@config/config';

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection('blog');

  return paginate(posts);
}

const { page } = Astro.props;
---

<Layout title="Desde Júpiter | Blog" description={defaultDescription}>
  <main class="p-4 w-full">
    <h2
      class="font-bold text-text-heading text-center text-3xl md:text-4xl pt-4 pb-2 overflow-hidden"
    >
      <span>Todos los Artículos {'🚀'}</span>
    </h2>
    <section id="container" class="container flex-shrink-0 grid justify-left w-2/3 md:w-1/2 lg:w-1/3 m-auto">
      <Publications items={page.data} itemsPerPage="7" client:only />
    </section>
  </main>
</Layout>

<style is:global>
  .pagination {
    @apply flex flex-row justify-between list-none mt-8 lg:px-20;
  }

  .pagination li a {
    @apply m-1 text-base btn rounded-none normal-case bg-neutral text-neutral-content hover:bg-neutral;
  }

  .pagination li.selected a {
    @apply bg-primary text-white;
  }
  .pagination li.disabled a {
    color: grey;
  }
  .pagination li.disable,
  .pagination li.disabled a {
    @apply cursor-default
  }
</style>
