---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="grid grid-rows-[auto_1fr] grid-cols-1 min-h-screen text-white">
		<Header />
		<main class="px-gr3 md:px-gr5 md:py-gr4 flex flex-col items-center">
			<h1 class="text-gr3 font-bold text-left md:text-center w-full pb-gr2">
				Acerca de mi
			</h1>
			<section class="grid grid-cols-1 prose lg:prose-lg">
				<p>
					<strong>Entusiasta tecnológico.</strong> Siempre en la búsqueda de oportunidades para aprender y crecer.
				</p>

				<p>
					Mis primeros experimentos con <strong>HTML y CSS</strong>, allá por 2011-2012, surgieron por pura curiosidad (para no aburrirme, de hecho). Recuerdo cómo los <strong>layouts se construían con tablas</strong>, los bordes redondeados eran imágenes <strong>.png</strong>, y cómo olvidar el icónico <strong>Dreamweaver</strong>.
				</p>

				<p>Esos días sentaron las bases de lo que vendría...</p>

				<p>
					Lo que comenzó como un simple <strong>pasatiempo</strong> se fue transformando gradualmente en mi verdadera <strong>vocación</strong>. Honestamente nunca lo imaginé.
				</p>

				<p>
					Aunque me gradué en <strong>Telecomunicaciones</strong>, inesperadamente conseguí mi primer empleo en <strong>2019</strong> como <strong>Frontend Developer</strong> en una empresa local, sin experiencia real ni una formación académica formal en desarrollo. Yo estaba en ceros.
				</p>
					
				<p>
					Tenía miedo, pero al mismo tiempo estaba <strong>emocionado</strong> por el desafío. Sabía que esta oportunidad podía cambiar mi carrera por completo.
				</p>
					
				<p>
					Desde entonces, he crecido sin parar. Empecé en <strong>Frontend</strong>, me adentré en el <strong>Backend</strong>, llegué a ser <strong>Tech Leader</strong>... Ha sido una <strong>montaña rusa</strong> de experiencias y aprendizajes. Cada nuevo paso me ha permitido descubrir más sobre mí y mis habilidades.
				</p>
					
				<p>
					Aunque toda mi carrera profesional ha sido como <strong>Developer</strong>, me he estado especializando en <strong>DevOps</strong>. Tal vez mi formación en telecomunicaciones influyó en esa decisión, pero siento que este es el camino que debo seguir.
				</p>
					
				<p>
					Hoy, mis habilidades en <strong>administración de servidores</strong>, <strong>diseño de infraestructura</strong>, <strong>seguridad</strong> y <strong>automatización</strong> de procesos de desarrollo y despliegue son fundamentales en mi trabajo diario en <strong>HANU</strong>.
				</p>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	strong {
		color: #F5F3EF
	}
</style>

