---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import JobPost from '../../components/JobPost.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="grid grid-rows-[auto_1fr] grid-cols-1 min-h-screen text-white">
		<Header />
		<main class="px-gr3 md:px-gr5 md:py-gr4 flex flex-col items-center">
			<h1 class="text-gr3 font-bold text-left md:text-center w-full">
				Experiencia
			</h1>
			<p class="prose prose-lg py-gr2">
				He trabajado en startups y empresas en crecimiento, liderando proyectos clave de migración, escalabilidad y optimización de plataformas. Cada desafío ha sido una oportunidad para dejar un impacto y mejorar continuamente.
			</p>
			<section class="grid grid-cols-1 prose lg:prose-lg">
				<JobPost title="HANU" tags={['Node.js', 'REST', 'Seguridad', 'Infraestructura', 'AWS', 'CI/CD', 'Docker']}>
					<p>
						Una startup chilena revolucionando el streaming en el sector fitness. Durante los últimos 2 años, he tenido el privilegio de sumergirme en proyectos desafiantes y transformadores.
					</p>
					<p>
						En HANU asumí un rol más técnico y estratégico como SRE (Site Reliability Engineer), contribuyendo de manera crucial a la escalabilidad y confiabilidad de la plataforma.
					</p>
					<ul>
						<li>Participación activa en la migración hacia una arquitectura de microservicios escalables que mejoró significativamente el rendimiento</li>
						<li>Diseñé e implementé pipelines eficientes de CI/CD, acelerando los tiempos de entrega.</li>
						<li>Lideré la migración a una infraestructura en Kubernetes para asegurar una mayor disponibilidad.</li>
						<li>Desarrollé procesos robustos de monitoreo y seguridad, garantizando la estabilidad a largo plazo.</li>
					</ul>
					<p>
						Hoy, sigo enfocado en mejorar cada aspecto de la plataforma, con la vista puesta en un crecimiento global.
					</p>
				</JobPost>

				<JobPost title="TheFutures.io" tags={['Node.js', 'REST', 'Seguridad', 'AWS', 'Liderazgo']}>
					<p>
						En aquel entonces, una startup en etapa temprana. Aquí, tomé la iniciativa de definir los guidelines técnicos y automatizar procesos clave para garantizar un crecimiento ágil y estructurado.
					</p>
					<p>
						Uno de los mayores logros fue liderar la transición de un monolito tradicional a una arquitectura basada en microservicios, lo que nos permitió adaptarnos mejor al crecimiento exponencial.
					</p>
					<ul>
						<li>Desarrollé y mantuve múltiples APIs que fueron fundamentales para la escalabilidad del negocio</li>
						<li>A medida que el equipo crecía, mis responsabilidades también lo hicieron, liderando la evolución técnica como Tech Lead</li>
					</ul>
					<p>
						Este rol no solo me permitió perfeccionar mis habilidades de liderazgo, sino también enfrentar retos complejos que impulsaron mi crecimiento profesional
					</p>
				</JobPost>
				
				<JobPost title="CESTICOM" tags={['HTML', 'CSS', 'Javascript', 'Nuxt']}>
					<p>
						Esta consultora local fue una verdadera escuela para mí. En solo 6 meses, viví una experiencia profesional intensa, llena de aprendizajes que definieron mi camino en el desarrollo de software.
					</p>
					<p>
						Aún estoy escribiendo la historia de todo lo que aprendí aquí, pero puedo decir que fue la montaña rusa que me preparó para los desafíos más grandes que vendrían.
					</p>
				</JobPost>
			</section>
		</main>
		<Footer />
	</body>
</html>

