---
import { SEO } from 'astro-seo';
import Header from '@partials/Header';
import Footer from '@partials/Footer';

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="es" data-theme="light">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: 'website',
          image: image || '/logo.png',
          url: canonicalURL,
        },
      }}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.svg' }],
        meta: [],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      async
      src="https://analytics.eu.umami.is/script.js"
      data-website-id="ef87d36b-8055-4e2c-bbb7-cb97da507972"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <slot />
    <Footer />
    <style is:global>
      .publication p {
        @apply mb-8 tracking-wide;
      }

      .welcome {
        @apply prose;
      }

      main {
        flex-grow: 1;
      }

      p,
      .text-base,
      .prose {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      .menu,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: 'Heebo Variable', sans-serif;
      }

      .publication {
        @apply prose md:prose-lg mb-16 m-auto w-4/5 md:w-full
        prose-img:m-auto prose-a:underline prose-a:decoration-2
        prose-a:decoration-primary prose-h2:underline
        prose-strong:text-accent;
      }

      .pagination {
        @apply flex flex-row justify-center lg:justify-between list-none mt-8 lg:px-20;
      }

      .pagination li a {
        @apply m-1 text-base btn rounded-none normal-case bg-neutral text-neutral-content hover:bg-neutral;
      }

      .pagination li.selected a {
        @apply bg-primary text-white;
      }
      .pagination li.disabled a {
        color: grey;
      }
      .pagination li.disable,
      .pagination li.disabled a {
        @apply cursor-default;
      }
    </style>

    <script is:inline>
      const theme = (() => {
        if (localStorage?.getItem('theme')) {
          return localStorage.getItem('theme');
        }

        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }

        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.setAttribute('data-theme', 'light');
      } else {
        document.documentElement.setAttribute('data-theme', 'dark');
      }

      window.localStorage.setItem('theme', theme);

      const handleToggleClick = () => {
        const element = document.documentElement;
        const isDark = element.getAttribute('data-theme') === 'dark';

        isDark
          ? document.documentElement.setAttribute('data-theme', 'light')
          : document.documentElement.setAttribute('data-theme', 'dark');

        localStorage.setItem('theme', isDark ? 'light' : 'dark');
      };

      document
        .getElementById('themeToggle')
        .addEventListener('click', handleToggleClick);
    </script>
  </body>
</html>
