---
import Layout from '@layouts/Base.astro';
import { getCollection } from 'astro:content';
import Publications from '@components/Publications';
import { defaultDescription } from '@config/config';

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection('blog');

  return paginate(posts);
}

const { page } = Astro.props;
---

<Layout title="Desde Júpiter | Blog" description={defaultDescription}>
  <main class="p-4 w-full">
    <h2
      class="font-bold text-text-heading text-center text-3xl md:text-4xl pt-4 pb-2 overflow-hidden"
    >
      <span>Todos los Artículos</span>
    </h2>
    <section id="container" class="container flex-shrink-0 grid justify-left w-full md:w-1/2 lg:w-1/3 m-auto">
      <Publications items={page.data} itemsPerPage="7" client:only />
    </section>
  </main>
</Layout>
